.brtt{
    margin-right:10px;
    top:-64px;
    float:right;
    position: relative;
    display:none;
    z-index: 10;
}
.events{
    float:right;
    width:250px;
    overflow-y:auto;
    max-height: 400px;
    position:relative;
}
#emap {
    float:left;
    width: 550px;
    height: 350px;
    margin-left: 30px;
    margin-top: 9px;
    position: absolute;
    background-color: #CCC;
}
#description{
    width: 450px;
}
.map-responsive{
    overflow:hidden;
    overflow-y:auto;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.check{
    margin-right:10px;
    top: -64px;
    float:right;
}
